@font-face {
font-family:Montserrat-light ;src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
font-family:Montserrat-Medium ;src: url(../fonts/Montserrat-Medium.otf);
}
@font-face {
font-family:Montserrat-Regular ;src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
font-family:Montserrat-Bold ;src: url(../fonts/Montserrat-Bold.otf);
}
::-webkit-scrollbar {
width: 5px;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 1px grey;
}
::-webkit-scrollbar-thumb {
background: red;
}
::-webkit-scrollbar-thumb:hover {
background: #5090c1;
}
body
{
font-family: Montserrat-Regular;
top: 0px !important;
}
a:hover
{
	text-decoration:none;
}
p
{
font-size:16px;
color:#333;
}
h1,h2,h3,h4,h5,h6
{
font-family:Montserrat-Medium;
}
.navbar-default .navbar-nav>li>a {
color: #333;
font-weight: bold;
font-family: Montserrat-Bold;
}
.navbar-default .navbar-nav>li>a:hover {
color: #ee1827;
transition:0.5s;
}
.navbar-default .navbar-nav>li>a:focus {
color: #ee1827;
transition:0.5s;
}
.goog-te-banner-frame.skiptranslate {
display: none !important;
}
.navbar-right {
margin-top: 10px;
}
.navbar-default {
background-color: #f7f7f7;
border-color: #e7e7e7;
padding:10px 0px;
}
.navbar-toggle {
position: relative;
float: right;
padding: 9px 10px;
background: #000;
margin-right: 15px;
margin-top: 25px;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}
.footer
{
	background: #5090c1;
	min-height: 50px;
	padding-top: 15px;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.footer p
{
color:#fff;
}
.form-bg
{
	padding: 30px 10px;
	box-shadow: 5px 9px 10px 10px #f1f1f1;
}
.dropdown-item
{
	color:#333;
	padding-left:10px;
}
.content-inner
{
padding-bottom:60px;
}
.right-fillcontent-inner
{
float:right;
}
.top_header
{
padding:10px 0px;
}
#google_translate_element
{
float: right;
margin-top: 10px;
}
.form-control {
height: 50px!important;
background: #f2f2f2;
border-radius: 0px;
border: 1px solid #f1f1f1;
}
.content-inner h1
{
text-align: center;
margin-bottom: 40px;
text-transform:uppercase;
}
.content-inner h1:after {
content: "";
display: block;
margin: 0 auto;
width: 10%;
padding-top: 15px;
border-bottom: 3px solid #5090c1;;
}
.required-fill
{
   color: #ff0d0d;
}
.btn-danger
{
background:#b30000;
}
table {
width: 100%;
border-collapse: collapse;
}
tr:nth-of-type(odd) {
background: #f9f9f9;
}
tr:nth-of-type(even) {
background: #fff;
}
th {
background: #5090c1;
color: #ffffff;
font-weight: 600;
}
td, th {
padding: 15px;
border: 1px solid #ccc;
text-align: center;
}
.table>tbody>tr>td{
	padding: 15px;
}
td:nth-of-type(1) {
font-weight: 500 !important;
}
td {
font-weight: 600;
line-height: 20px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label.error { color:#ff0d0d;position:absolute }

/* media query Starts */
@media (min-width: 1281px) {
.navbar-brand
{
display:none;
}
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
table.responsive,
.responsive thead,
.responsive tbody,
.responsive th,
.responsive td,
.responsive tr {
display: block !important;
}

.responsive thead tr {
position: absolute !important;
top: -9999px;
left: -9999px;
}

.responsive tr {
border: 1px solid #ccc;
}

.responsive td {
border: none;
border-bottom: 1px solid #eee !important;
position: relative !important;
padding-left: 25% !important;
}

.responsive td:before {
position: absolute !important;
top: 6px;
left: 6px;
width: 45%;
padding-right: 10px;
white-space: nowrap !important;
font-weight: 500 !important;
}
.responsive td:before {
content: attr(data-table-header) !important;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
#google_translate_element {
float: right;
margin-top: -40px;
}
.navbar-default .navbar-brand {
color: #777;
margin-top: 16px;
}
}

@media (min-width: 481px) and (max-width: 767px) {
#google_translate_element {
   margin-top: -40px;
}
.navbar-default .navbar-brand {
color: #777;
margin-top: 16px;
}
}
@media (min-width: 320px) and (max-width: 480px) {
.navbar-default .navbar-brand {
color: #777;
margin-top: 16px;
}
#google_translate_element {
   margin-top: -40px;
}
}
